* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #2b193d;
  --secondary-bg-color: #2c365e;
  --tertiary-bg-color: #272f4f;
  --main-button-color: #a675a1;
  --secondary-button-color: #b80ea7;
  --main-text-color: #ffffff;
  --secondary-text-color: #ffffffc9;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  background-attachment: fixed;
}
header {
  position: relative;
  max-width: 1900px;
  /* margin: 10px auto; */
  padding: 10px;
  background: var(--secondary-bg-color);
}
.titulo-otros-proyectos {
  color: var(--main-text-color);
  font-size: 36px;
  line-height: 60px;
  padding: 10px 50px;
  text-align: center;
  font-weight: 600;
}
.mensaje-header {
  text-align: center;
  padding: 10px;
  margin: 5px;
  color: var(--main-text-color);
}
/* navbar */
nav {
  background: var(--secondary-bg-color);
  height: 80px;
  width: 100%;
}
.enlace {
  position: absolute;
  padding: 20px 50px;
}
.logo {
  height: 40px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: var(--main-text-color);
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
li a.active,
li a:hover {
  background: var(--main-button-color);
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: var(--main-text-color);
  float: right;
}
.checkbtn i {
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.card-footer {
  text-align: center;
  color: var(--main-text-color);
}
@media (max-width:1100px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width:980px) {
  .checkbtn, .checkbtn i {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--tertiary-bg-color);
    top: 145px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li  {
    font-size: 20px;  
  }
  li a:hover, li a.avtive {
    background: none;
    color: #a675a1;
  } 
  #check:checked ~ ul {
    left: 0;
    z-index: 1000;
  }
}
main {
  margin: auto 5px;
}
.que-es {
  background-color: var(--secondary-bg-color);
  /* display: flex; */
  padding: 1px 30px;
  width: 100%;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.que-es h1 {
  margin: 0;
  color: var(--main-text-color);
  text-align: center;
}
.que-es p {
  margin-top: 12px;
  text-align: center;
}
.conteiner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: var(--secondary-bg-color);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card-title {
  text-align: center;
  padding: 0 30px;
  color: var(--main-text-color);
}
.card-text {
  text-align: center;
  color: #ffffff;
}
.btn {
  border-color: var(--main-button-color);
  background-color: var(--secondary-button-color);
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
}
.btn:hover {
  background-color: var(--main-button-color);
  color: var(--main-text-color);
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  /* transform: translateY(-3%); */
}
.card img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.card .contenido a:hover {
  background: var(--secondary-button-color);
  color: var(--main-text-color);
}
.img {
  width: 190px;
  height: 400px;
  margin: 20px;
}
.text {
  margin: 20px;
}
.section {
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  margin: 15px auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0, .2);
}
.section img {
  width: 200px;
  border-radius: 10px;
  border: dashed 2px var(--main-button-color);
}
.section h3 {
  margin: 10px 0;
  color: var(--main-text-color);
  text-align: center;
}
.section p {
  color: var(--main-text-color);
  margin-right: 15px;
  margin: 10px;

}
footer {
  /* background-color: var(--secondary-bg-color); */
  text-align: center;
  margin-top: 20px;
  padding: 25px;
}
.links-footer {
  background-color: var(--secondary-bg-color);
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
footer li {
  margin: 10px 0px;
  font-size: small;
  font-weight: lighter;
  text-align: center;
}
footer a {
  color: var(--main-text-color);
  text-decoration: none;
  padding: 0% 10px;
}
.mensaje-footer {
  margin: 10px 0px;
}
span {
  font-size: small;
  font-weight: lighter;
  text-align: center;
}
