* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #2b193d;
  --secondary-bg-color: #2c365e;
  --main-button-color: #a675a1;
  --secondary-button-color: #b80ea7;
  --main-text-color: #ffffff;
  --secondary-text-color: #ffffffc9;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  background-attachment: fixed;
}
header {
  position: relative;
  max-width: 1900px;
  /* margin: 10px auto; */
  padding: 10px;
  background: var(--secondary-bg-color);
}
.titulo-otros-proyectos {
  color: var(--main-text-color);
  height: 50px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  text-decoration: none;
}
.mensaje-header {
  text-align: center;
  padding: 10px;
  margin: 5px;
  color: var(--main-text-color);
}
#tituloGrandesSoluciones {
  color: var(--main-text-color);
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
nav {
  float: right;
}
.clearfix {
  clear: both;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
list-style: none;
}
nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--main-text-color);
}
nav ul li a.active,
nav ul li a:hover {
  background: var(--main-button-color);
  color: var(--main-text-color);
  transition: 0.5s;
}
@media (max-width: 1200px) {
header {
  margin: auto;
}
}
main {
  margin: auto 5px;
}
 

.que-es {
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding: 1px 30px;
  margin-top: 20px;
}
.que-es p {
  margin-top: 12px;
}
.conteiner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: var(--secondary-bg-color);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  /* transform: translateY(-3%); */
}
.card img {
  width: 100%;
  height: auto;
  object-fit: fill;

}
.card .contenido {
  padding: 15px;
  text-align: center;

}
.card .contenido p {
  line-height: 1.5;
  color: var(--secondary-text-color);
}
.card .contenido h3 {
  font-weight: 700;
  margin-bottom: 15px;
}
.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: var(--main-button-color);
  border: 1px solid var(--main-button-color);
  border-radius: 4px;
  transition: all 400ms ease;
}
.card .contenido a:hover {
  background: var(--secondary-button-color);
  color: var(--main-text-color);
}
.img {
  width: 190px;
  height: 400px;
  margin: 20px;
}
.texto-imagenes {
  text-align: center;
}
.text {
  margin: 20px;
}
.parrafo-largo {
  text-align: left;
}
.img-parrafo {
  width: 190px;
  height: 400px;
}
footer {
  /* background-color: var(--secondary-bg-color); */
  text-align: center;
  margin-top: 20px;
  padding: 25px;
}
.links-footer {
  background-color: var(--secondary-bg-color);
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
footer li {
  margin: 10px 0px;
  font-size: small;
  font-weight: lighter;
  text-align: center;
}
footer a {
  color: var(--main-text-color);
  text-decoration: none;
  padding: 0% 10px;
}
.mensaje-footer {
  margin: 10px 0px;
}
span {
  font-size: small;
  font-weight: lighter;
  text-align: center;
}
